*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.application-shell {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-menu {
  background: #2b3a4a;
  color: #8699ad;
  width: 240px;
  height: 100%;
}

.side-menu ul {
  list-style: none;
  margin-top: 145px;
}

.side-menu a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 6px;
}

.menu-item__icon {
  fill: #8699ad;
  height: 18px;
  width: 18px;
  display: block;
}

#mf-root {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .application-shell {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
    height: auto;
  }

  .side-menu ul {
    margin: 0;
    display: flex;
  }
}
