*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-menu {
  background: #2b3a4a;
  color: #8699ad;
  width: 240px;
}

.side-menu ul {
  list-style: none;
  margin-top: 145px;
}

.side-menu li {
}

.side-menu a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 6px;
}

#root {
  height: 100%;
  width: 100%;
}
