*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.application-shell {
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
}

.content {
  width: 100%;
  position: relative;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5%;
  background-color: white;
  padding: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logout-button {
  padding: 6px 12px;
  border: 1px solid #239fc1;
  border-radius: 3px;
  color: #239fc1;
  margin-left: 24px;
  margin-right: 24px;
}

#user-name {
  padding: 6;
  border-bottom: 2px solid #7a6fbe;
  font-weight: bold;
  color: #4c5259;
}

.side-menu {
  background: #2b3a4a;
  color: #8699ad;
  width: 240px;
  height: 100%;
}

.side-menu ul {
  list-style: none;
  padding-top: 145px;
}

.side-menu__link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 12px 24px;
  gap: 12px;
}

.side-menu__link--active {
  background-color: #263442;
  color: white;
}

.menu-item__icon {
  fill: #8699ad;
  height: 18px;
  width: 18px;
  display: block;
}

#mf-root {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .application-shell {
    flex-direction: column;
  }

  .side-menu {
    width: 100% !important;
    height: auto;
  }

  .side-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
}
